PORT=3000
NODE_ENV=production

SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=apikey
SMTP_PASS=TU_API_KEY_DE_SENDGRID
EMAIL_FROM=ventas@clickline.mobi
EMAIL_TO=ventas@clickline.mobi
